# Source generation
source_gen
source_gen.caches
classes_gen
classes_gen.caches

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
artifacts
tmp


.mps/workspace.xml
.mps-caches

# External libraries (optional)
.mps/libraries.xml

# Other
.DS_Store